.react-calendar {
    .react-calendar{width: 400px;}
.react-calendar__navigation {
    .react-calendar__navigation__arrow {
        font-size: 32px;
    }

    .react-calendar__navigation__label {
        font-size: 32px;
    }
}

.react-calendar__tile {
    height: 70px;
}

.react-calendar__month-view__weekdays__weekday {
    font-size: 16px;
    color: rgb(15, 70, 15);
}

.react-calendar__tile--active {
    background: #7654ee;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #7654ee;
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
    font-size: 18px;
}
}