@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
}
body {
  min-height: 100%;
  margin: 16px;
  overflow: auto;
  margin: 1;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, white, white, #f8f9fa #e9ecef, #dee2e6);
}


.hovering-button, .submit {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.1);
  margin-inline: 6px;
  
  transition-duration: 0.2s;
}

/* Draws a larger drop shadow below buttons when they are hovered over with the cursor/mouse */
.hovering-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.15);
}

#hover-img-1, #hover-img-2, #hover-img-3, #hover-img-4 {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.1);
  transition-duration: 0.2s;
}

/* Draws a larger drop shadow below buttons when they are hovered over with the cursor/mouse */
#hover-img-1:hover, #hover-img-2:hover, #hover-img-3:hover, #hover-img-4:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.15);
}

input {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
  margin: 1px;
}

#menu {
  height: 75vh;
}
